FLASK_APP="app.py"
FLASK_ENV="development"
FLASK_RUN_HOST="0.0.0.0"
FLASK_RUN_PORT=5000

DOCKER_API_HOST="x.x.x.x"
DOCKER_API_PORT=2375

DB_DRIVER="mongodb"
DB_HOST="x.x.x.x"
DB_PORT=27017
DB_USERNAME=""
DB_PASSWORD=""
DB_NAME="baleiazul"
DB_URL="${DB_DRIVER}://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?authSource=admin"

MONGO_INITDB_ROOT_USERNAME=${DB_USERNAME}
MONGO_INITDB_ROOT_PASSWORD=${DB_PASSWORD}
MONGO_INITDB_DATABASE=${DB_NAME}

ME_CONFIG_MONGODB_SERVER="mongo"
ME_CONFIG_MONGODB_PORT=${DB_PORT}
ME_CONFIG_MONGODB_ENABLE_ADMIN="true"
ME_CONFIG_MONGODB_ADMINUSERNAME=${DB_USERNAME}
ME_CONFIG_MONGODB_ADMINPASSWORD=${DB_PASSWORD}
ME_CONFIG_OPTIONS_EDITORTHEME="dracula"
